/* 自定义字体 */
@font-face {
    font-family: 'hytmr55';
    src: url('/fonts/hytmr55.woff');
}

#aside-content .author-info__description {
    font-family: 'hytmr55';
}


/* @font-face {
    font-family: 'Kiwi Maru';
    src: url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');
}

body {
    font-family: 'Kiwi Maru', serif;
} */